main {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#td {
    padding: 1em
    
}